@import "tailwindcss";

/* Variables base */
:root {
	--background: #ffffff;
	--foreground: #2c2a2a;
}

/* Esto inyecta tus variables en el sistema de diseño de Tailwind */
@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

/* Modo oscuro por media query */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #222020;
		--foreground: #ededed;
	}
}

/* Aplicación global de variables */
body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}